/*
  File: main.scss
  Description: CSS styles for the WordPress Photo Festival 2024 official website.
  Author: Ajith
  Version: 1.0.0
  Last Modified: 20/01/20204 

  === Changelog ===
  1.0.0 - 20/01/20204 : Initial commit
  ...
  ...
*/
